<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comments</title>
</head>
<body>
    <% for (let c of comments){ %>
        <p><b><%= c.comment %></b> - <%= c.username %> <a href="/comments/<%= c.id %>">Details</a></p>
    <% } %>
    <p><a href="/">Go Back</a></p>
    <a href="/comments/newComment">New Comment</a>
</body>
</html>